:root {
  --basic-black-light: #4d4d4d;
  --basic-black: #000000;
  --basic-red-light: #fb565a;
  --basic-red: #e74246;
  --basic-red-dark: #d7373b;
  --basic-green-light: #00ca74;
  --basic-green: #00bc6c;
  --basic-green-dark: #00aa62;
  --basic-yellow-light: #efc849;
  --basic-yellow: #eab534;
  --basic-yellow-dark: #e5a722;
  --basic-gray: #e1e1e1;
  --basic-gray-light: #eeeeee;
  --basic-gray-2: #dfdfdf;
  --basic-gray-3: #d5d5d5;
  --basic-gray-4: #666666;
  --basic-gray-5: #dbdbdb;
  --basic-gray-dark: #444444;

  --basic-blue-dark: #283136;
  --basic-white: #ffffff;

  --special-white: rgba(255, 255, 255, 0.3);
  --special-black: rgba(0, 0, 0, 0.3);
  --special-black-dark: rgba(0, 0, 0, 0.6);
  --special-blue-dark: rgba(40, 49, 54, 0.3);
  --special-grey-light: #d7dcde;
  --special-grey: #b4b9bb;
}

.page {
  height: 100%;
}

.page-body {
  /*min-width: 960px;*/
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--basic-blue-dark);
  background-color: var(--basic-white);

  /*min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;*/
}

.main-header {
  background-color: var(--basic-gray-light);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  background-color: var(--basic-red-light);
  color: var(--basic-white);
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--basic-red);
}

.button:active {
  background-color: var(--basic-red-dark);
  color: var(--special-white);
}

.container {
  width: 1160px;
  margin: 0px auto;
  padding: 0px;
}

/*index header*/
.main-navigation {
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  line-height: 30px;
  /*font-size: 16px;*/
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
  border: none;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.site-navigation li {
  margin-right: 45px;
}

.user-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-navigation a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-navigation a::before {
  content: "";
  background-image: url(../img/icon/basket.svg);
  width: 15px;
  height: 15px;
  margin-right: 25px;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-red-light);
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(--special-black);
}

/*index main promo*/
.promo {
  background-color: var(--basic-gray-light);
  margin-bottom: 80px;
}

.promo-slider {
  margin: 0px;
  padding: 0px;
}

.promo-slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo-slider-item {
  text-align: left;
  display: grid;
  grid-template-columns: 397px 139px 88px 533px;
  grid-template-rows: 226px 75px 50px 80px;
}

.promo-slider-item img {
  display: block;
  width: 760px;
  height: 431px;
  grid-area: 1/2/-1/5;
}

.promo-slider-item a {
  margin: 0px;
  padding: 0px;
}

.promo-slider-item p:first-child {
  margin: 0px;
  padding-top: 78px;
  padding-bottom: 37px;
  line-height: 55px;
  font-size: 55px;
  color: var(--basic-black);
  grid-column: 1/3;
  grid-row: 1/2;
  z-index: 1;
}

.promo-slider-item p:nth-child(2) {
  margin: 0px;
  padding-bottom: 37px;
  grid-column: 1/3;
  grid-row: 2/3;
  z-index: 1;
}

.promo-button {
  width: 240px;
  height: 50px;
  grid-column: 1/2;
  grid-row: 3/5;
  outline: 1px solid blue;
}

.promo-buttons-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-buttons-list {
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: 3/4;
  grid-row: 3/4;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-button {
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
}

/*index main services*/

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;
  margin-bottom: 121px;
}

.services-item {
  text-align: left;
  display: grid;
  grid-template-rows: 146px 71px 80px 50px;
}

.services-item img {
  order: -1;
  width: 300px;
  height: 146px;
}

.services-item h3 {
  margin: 0px;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 24px;
  font-weight: 700;
  color: var(--basic-black);
  padding-top: 25px;
  padding-bottom: 16px;
}

.services-item p {
  margin: 0px;
  padding-bottom: 32px;
}

.servises-button {
  margin: 0px;
  padding: 0px;
  width: 160px;
  height: 50px;
}

.services-item:nth-child(2) button {
  background-color: var(--basic-green-light);
}

.services-item:nth-child(2) button:hover,
.services-item:nth-child(2) button:focus {
  background-color: var(--basic-green);
}

.services-item:nth-child(2) button:active {
  background-color: var(--basic-green-dark);
  color: var(--special-white);
}

.services-item:nth-child(3) button {
  background-color: var(--basic-yellow-light);
}

.services-item:nth-child(3) button:hover,
.services-item:nth-child(3) button:focus {
  background-color: var(--basic-yellow);
}

.services-item:nth-child(3) button:active {
  background-color: var(--basic-yellow-dark);
  color: var(--special-white);
}

/*index main about*/

.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 360px;
  column-gap: 99px;
  margin-bottom: 73px;
}

.about-description p {
  margin: 0px;
  padding: 0px;
}

.about-description p:nth-child(1) {
  line-height: 45px;
  font-size: 45px;
  font-weight: 500;
  margin-top: 73px;
  margin-bottom: 32px;
}

.about-description p:nth-child(2) {
  margin-bottom: 40px;
}

.about-description p:nth-child(3) {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 23px;
}

.about-list {
  margin: 0px;
  padding: 0px;
}

.about-parameters img {
  margin: 0px;
  padding: 0px;
  width: 360px;
  height: 208px;
}

.about-parameters p {
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.about-advantages-list {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-areas:
    "t1 t2 t3"
    "d1 d2 d3";
  grid-template-columns: 120px 120px 120px;
}

.term-1 {
  grid-area: t1;
}

.term-2 {
  grid-area: t2;
}

.term-3 {
  grid-area: t3;
}

.def-1 {
  grid-area: d1;
}

.def-2 {
  grid-area: d2;
}

.def-3 {
  grid-area: d3;
}

.about-advantages-term {
  line-height: 64px;
  font-size: 45px;
  font-weight: bold;
  /*vertical-align: top;*/
}

.about-advantages-term span {
  line-height: 40px;
  font-size: 26px;
  font-weight: bold;
  vertical-align: top;
}

.about-advantages-definition {
  line-height: 18px;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

/*index main companies*/

.companies-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 80px;
}

.companies-item a {
  opacity: 0.2;
}

.companies-item a:hover,
.companies-item a:focus {
  opacity: 1;
}

.companies-item a:active {
  opacity: 0.1;
}

/*catalog main*/
.main-catalog-wrapper {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 30px 1fr;
}

.page-title {
  margin: 0px;
  padding: 0px;
  line-height: 55px;
  font-size: 55px;
  font-weight: 500;
  text-align: center;
  background-color: var(--basic-gray-light);
  padding-top: 72px;
  padding-bottom: 108px;
  margin-bottom: 55px;
}

/*catalog main filters*/
.filters {
  grid-column: 1/2;
  grid-row: 1/3;
}

.filters-form fieldset {
  border: none;
}

.filters-form legend {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.legend-price {
  margin-bottom: 48px;
}

/*.filter-range {
  margin: 0px;
  padding: 0px;
 }*/

.filter-range-wrapper {
  width: 260px;
  height: 80px;
  background-color: var(--basic-gray-light);
  border: none;
  border-radius: 3px;
  margin-bottom: 14px;
}

.filter-range-text-wrapper label {
  line-height: 22px;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--basic-blue-dark);
}

.filter-text {
  padding: 0px;
  width: 80px;
  height: 38px;
  background-color: var(--basic-gray-light);
  border: none;
  border-radius: 3px;
}

.fieldset-price {
  margin: 0px;
  padding: 0px;
  margin-bottom: 54px;
}

.filters-form ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  line-height: 20px;
  font-size: 16px;
  color: var(--basic-blue-dark);
}

.filters-form label {
  line-height: 20px;
  font-size: 16px;
  color: var(--basic-blue-dark);
}

.filter-input {
  color: var(--basic-black-light);
  opacity: 0.4;
}

.legend-net {
  margin-bottom: 16px;
}

.net-list li {
  margin-bottom: 20px;
}

.net-list li:last-child {
  margin-bottom: 0px;
}

.fieldset-net {
  margin: 0px;
  padding: 0px;
  margin-bottom: 47px;
}

.legend-features {
  margin-bottom: 16px;
}

.features-list li {
  margin-bottom: 20px;
}

.features-list li:last-child {
  margin-bottom: 0px;
}

.fielset-features {
  margin: 0px;
  padding: 0px;
  margin-bottom: 50px;
}

.filter-input:hover,
.filter-input:focus {
  opacity: 1;
}

.filter-input:disabled {
  opacity: 0.1;
}

.filter-input:disabled + label {
  color: var(--special-blue-dark);
}

.filter-button {
  background-color: var(--basic-gray-light);
  color: var(--basic-black);
  line-height: 18px;
  font-size: 16px;
  width: 260px;
  height: 50px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--basic-gray-2);
}

.filter-button:active {
  background-color: var(--basic-gray-3);
  color: var(--special-black);
}

/*catalog main sorting*/
.sorting {
  margin: 0px;
  padding: 0px;
  grid-column: 2/3;
  grid-row: 1/2;
}

/*catalog sorting*/
.sorting {
  display: flex;
}

.sorting p {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.sorting-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.sorting-button {
  line-height: 18px;
  font-size: 14px;
  color: var(--special-black);
}

.sorting-button:hover,
.sorting-button:focus {
  color: var(--special-black-dark);
}

.sorting-button:active {
  color: var(--basic-black);
}

.button-price {
  color: var(--basic-black);
}

/*catalog main templates*/
.templates {
  grid-column: 2/3;
  grid-row: 2/3;
}

.templates-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: grid;
  grid-template-columns: 360px 360px;
  grid-template-rows: 620px 620px 620px;
  column-gap: 40px;
  row-gap: 30px;
}

/*.barbershop, .pink-app, .kvast {
  margin-left: 40px;
}*/

.template {
  display: grid;
  grid-template-rows: 40px 347px 231px;
  grid-template-columns: 360px;
}

.template-checked {
  margin: 0px;
  padding: 0px;
  grid-row: 1/2;
  grid-column: 1/2;
}

.template-item {
  margin: 0px;
  padding: 0px;
  grid-row: 2/4;
  grid-column: 1/2;
  padding-left: 1px;
}

.template-modal-wrapper {
  margin: 0px;
  padding: 0px;
  grid-row: -1/-2;
  grid-column: 1/2;
  background-color: var(--basic-gray-light);
  text-align: center;
}

.sedona .template-modal-wrapper {
  order: 1;
}

.barbershop .template-modal-wrapper {
  order: 1;
}

.a-plus .template-modal-wrapper {
  order: 1;
}

.pink-app .template-modal-wrapper {
  order: 1;
}

.mishka .template-modal-wrapper {
  order: 1;
}

.kvast .template-modal-wrapper {
  order: 1;
}

.template-header {
  margin: 0px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 26px;
}

.template-descripion {
  margin: 0px;
  line-height: 18px;
  font-size: 16px;
  color: var(--basic-gray-4);
  padding-top: 12px;
}

.template-button {
  margin: 0px;
  padding: 0px;
  width: 200px;
  height: 50px;
  margin-top: 32px;
}

.templates-list li {
  margin: 0px;
  padding: 0px;
}

.pages-list {
  list-style: none;
}

.templates-page a {
  background-color: var(--basic-gray-light);
  line-height: 18px;
  font-size: 16px;
  font-weight: 500;
}

.templates-page a:hover,
.templates-page a:focus {
  background-color: var(--basic-gray-2);
}

.templates-page a:active {
  background-color: var(--basic-gray-3);
  color: var(--special-black);
}

.page-1 {
  background-color: var(--basic-white);
  border: 3px solid var(--basic-gray-5);
}

/*index/catalog footer*/
.footer-map {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.footer-contacts {
  margin: 0px;
  padding: 0px;
  width: 319px;
  height: 308px;
}

.footer-contacts p:nth-child(2) {
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-phone {
  color: inherit;
}

.social-wrapper {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 43px 38px;
}

.social-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: start;
  grid-area: 1/1/-1/2;
}

.social-wrapper p:nth-child(2) {
  margin: 0px;
  grid-row: 1/2;
  line-height: 36px;
  font-size: 36px;
  font-weight: bold;
  padding-top: 7px;
}

.social-wrapper p:nth-child(3) {
  margin: 0px;
  grid-row: 2/3;
  line-height: 22px;
  font-size: 16px;
  color: var(--basic-gray-dark);
  padding-top: 10px;
  padding-bottom: 6px;
}

.social-button {
  background-color: var(--basic-gray);
  color: inherit;
  width: 81px;
  height: 81px;
  margin-right: 9px;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}

.social-button:active {
  background-color: var(--basic-red-dark);
}

/*index modal-sending*/
.modal-sending {
  line-height: 18px;
  font-size: 16px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  background-color: var(--basic-white);
  width: 960px;
  height: 590px;
}

.modal-wrapper {
  margin: 0px auto;
  width: 770px;
  height: 443px;
}

.modal-description {
  line-height: 53px;
  font-size: 45px;
  font-weight: bold;
}

.sending-name label,
.sending-text label,
.sending-email label {
  font-weight: 700;
}

.sending-form input[type="text"],
.sending-form input[type="email"] {
  border: 2px solid var(--special-grey-light);
}

.sending-form input[type="text"]:hover,
.sending-form input[type="email"]:hover {
  border: 2px solid var(--special-grey);
}

.sending-form input[type="text"]:focus,
.sending-form input[type="email"]:focus {
  border: 2px solid var(--basic-black);
}

.sending-form input[type="text"]:invalid,
.sending-form input[type="email"]:invalid {
  border: 2px solid var(--basic-red);
}
