:root {
  --basic-black-light: #4d4d4d;
  --basic-black: #000000;
  --basic-black-middle: #231f20;
  --basic-red-light: #fb565a;
  --basic-red: #e74246;
  --basic-red-dark: #d7373b;
  --basic-green-light: #00ca74;
  --basic-green: #00bc6c;
  --basic-green-dark: #00aa62;
  --basic-yellow-light: #efc849;
  --basic-yellow: #eab534;
  --basic-yellow-dark: #e5a722;
  --basic-gray: #e1e1e1;
  --basic-gray-light: #eeeeee;
  --basic-gray-2: #dfdfdf;
  --basic-gray-3: #d5d5d5;
  --basic-gray-4: #666666;
  --basic-gray-5: #dbdbdb;
  --basic-gray-6: #a6a6a6;
  --basic-gray-7: #c1c1c1;
  --basic-gray-8: #d7dcdf;
  --basic-gray-9: #ababab;
  --basic-gray-10: #f2f2f2;
  --basic-gray-dark: #444444;
  --basic-blue-dark: #283136;
  --basic-white: #ffffff;

  --special-white: rgba(255, 255, 255, 0.3);
  --special-black: rgba(0, 0, 0, 0.3);
  --special-black-dark: rgba(0, 0, 0, 0.6);
  --special-blue-dark: rgba(40, 49, 54, 0.3);
  --special-grey-light: #d7dcde;
  --special-grey: #b4b9bb;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body {
  /*min-width: 960px;*/
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--basic-blue-dark);
  background-color: var(--basic-white);

  /*min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;*/
}

.main-header {
  background-color: var(--basic-gray-light);
  padding-top: 49px;
}

.button {
  background-color: var(--basic-red-light);
  color: var(--basic-white);
  display: block;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border-radius: 3px;
  border: none;
  padding: 17px 0px 15px 0px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--basic-red);
}

.button:active {
  background-color: var(--basic-red-dark);
  color: var(--special-white);
}

.container {
  position: relative;
  width: 1160px;
  margin: 0px auto;
  padding: 0px;
}

/*index header*/
.main-navigation {
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
  border: none;
  align-items: flex-start;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.site-navigation li {
  margin-right: 45px;
  margin-top: 26px;
  margin-bottom: 9px;
}

.user-navigation {
  padding-left: 40px;
  position: relative;
  margin-top: 26px;
  margin-bottom: 9px;
}

.user-navigation a::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 7px;
  left: 0px;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-red-light);
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(--special-black);
}

/*index main promo*/
.promo {
  background-color: var(--basic-gray-light);
  margin-bottom: 80px;
}

.promo-slider-list {
  margin: 0;
  padding: 0;
  position: relative;
}

.promo-slider-item {
  text-align: left;
  display: grid;
  grid-template-columns: 399px 139px 621px;
  grid-template-rows: auto;
  align-content: flex-start;
}

.slide-wrapper {
  grid-column: 1/3;
  grid-row: 1/2;
  z-index: 1;
}

.promo-slider-item img {
  display: block;
  width: 760px;
  height: 431px;
  grid-column: 2/-1;
  grid-row: 1/2;
  object-fit: contain;
  align-self: flex-start;
}

.slide-wrapper p:first-child {
  margin: 0px;
  line-height: 55px;
  font-size: 55px;
  color: var(--basic-black);
  padding-top: 78px;
  padding-bottom: 25px;
}

.slide-wrapper p:nth-child(2) {
  margin: 0px;
  padding-bottom: 38px;
}

.slide-wrapper a {
  margin: 0px;
  padding: 0px;
  display: block;
  box-sizing: border-box;
  padding: 16px 54px;
  width: 240px;
}

.promo-button {
  grid-column: 1/2;
  grid-row: 3/5;
}

.promo-slider-item {
  display: none;
}

.slide-current {
  display: grid;
}

.slider-buttons-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 88px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 301px;
  left: 536px;
  z-index: 1;
  line-height: 10px;
  font-size: 10px;
}

.slider-button {
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--basic-white);
  border: none;
  position: relative;
}

.current::after {
  content: "";
  width: 8px;
  height: 8px;
  box-sizing: border-box;
  border: 2px solid var(--basic-gray-7);
  top: 5px;
  left: 5px;
  border-radius: 50%;
  position: absolute;
}

/*index main services*/

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;
  padding-bottom: 40px;
  border-bottom: 2px solid var(--basic-gray-light);
  margin-bottom: 39px;
}

.services-item {
  text-align: left;
  display: grid;
  /*grid-template-rows: 146px 71px 80px 50px;*/
  grid-template-rows: 146px auto auto auto;
  margin-bottom: 40px;
}

.services-item img {
  order: -1;
  width: 300px;
  height: 146px;
  object-fit: contain;
}

.services-item img:nth-child(1) {
  background-color: var(--basic-red-light);
}

.services-item img:nth-child(2) {
  background-color: var(--basic-green-light);
}

.services-item img:nth-child(3) {
  background-color: var(--basic-yellow-light);
}

.services-item h3 {
  margin: 0px;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 24px;
  font-weight: 700;
  color: var(--basic-black);
  padding-top: 25px;
  padding-bottom: 16px;
}

.services-item p {
  margin: 0px;
  padding-bottom: 32px;
}

.servises-button {
  width: 160px;
  align-self: flex-end;
}

.services-item:nth-child(2) button {
  background-color: var(--basic-green-light);
}

.services-item:nth-child(2) button:hover,
.services-item:nth-child(2) button:focus {
  background-color: var(--basic-green);
}

.services-item:nth-child(2) button:active {
  background-color: var(--basic-green-dark);
  color: var(--special-white);
}

.services-item:nth-child(3) button {
  background-color: var(--basic-yellow-light);
}

.services-item:nth-child(3) button:hover,
.services-item:nth-child(3) button:focus {
  background-color: var(--basic-yellow);
}

.services-item:nth-child(3) button:active {
  background-color: var(--basic-yellow-dark);
  color: var(--special-white);
}

/*index main about*/

.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 360px;
  column-gap: 99px;
  margin-bottom: 73px;
}

.about-description p {
  margin: 0px;
  padding: 0px;
}

.about-description p:nth-child(1) {
  line-height: 45px;
  font-size: 45px;
  font-weight: 500;
  margin-top: 39px;
  margin-bottom: 32px;
  color: var(--basic-black);
}

.about-description p:nth-child(2) {
  margin-bottom: 40px;
}

.about-description p:nth-child(3) {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 23px;
}

.about-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  min-height: 120px;
  max-width: 624px;
  list-style: none;
}

.about-item {
  position: relative;
  padding-left: 32px;
}

.about-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red-light);
  top: 11px;
  left: 0px;
}

.about-parameters img {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 360px;
  height: 208px;
  background-color: var(--basic-white);
  object-fit: contain;
}

.about-parameters p {
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 37px 0px 31px 0px;
  color: var(--basic-black);
}

.about-advantages-list {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.about-advantages-term {
  line-height: 64px;
  font-size: 45px;
  font-weight: bold;
  color: var(--basic-black);
  margin-bottom: 10px;
}

.about-advantages-term span {
  line-height: 40px;
  font-size: 26px;
  font-weight: bold;
  vertical-align: top;
  position: relative;
  top: 3px;
}

.about-advantages-definition {
  line-height: 18px;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

/*index main companies*/

.companies-list {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 300px 300px 1fr;
  justify-items: center;
  align-items: center;
  list-style: none;
  margin-bottom: 76px;
  min-height: 180px;
  border-top: 2px solid var(--basic-gray-light);
  border-bottom: 2px solid var(--basic-gray-light);
}

.companies-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.companies-item a {
  display: block;
  opacity: 0.2;
  margin: 0px;
  padding: 0px;
  margin: 0px auto;
}

.companies-item img {
  display: block;
}

.companies-item::before {
  content: "";
  display: block;
  width: 2px;
  height: 52px;
  background-color: var(--basic-gray-light);
}

.companies-item:nth-child(4n + 1)::before {
  display: none;
}

.companies-item a:hover,
.companies-item a:focus {
  opacity: 1;
}

.companies-item a:active {
  opacity: 0.1;
}

/*catalog main*/
.main-catalog-wrapper {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 30px 1fr;
}

.current-page {
  position: relative;
}

.current-page::before {
  content: "";
  position: absolute;
  width: 74px;
  height: 2px;
  background-color: var(--basic-red-light);
  left: 0px;
  top: 43px;
}

.page-title {
  margin: 0px;
  padding: 0px;
  line-height: 55px;
  font-size: 55px;
  font-weight: 500;
  text-align: center;
  background-color: var(--basic-gray-light);
  padding-top: 78px;
  padding-bottom: 108px;
  margin-bottom: 55px;
  color: var(--basic-black);
}

/*catalog main filters*/
.filters h2 {
  margin: 0px;
}

.filters {
  grid-column: 1/2;
  grid-row: 1/3;
}

.filters-form fieldset {
  border: none;
}

.filters-form legend {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.fieldset-price {
  margin: 0px;
  padding: 0px;
  margin-bottom: 54px;
  width: 260px;
}

.legend-price {
  margin-bottom: 48px;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--basic-gray-light);
  border: none;
  border-radius: 3px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-left: 33px;
  padding-right: 22px;
}

.range-controls .scale {
  width: 205px;
  height: 2px;
  background-color: var(--basic-gray-8);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--basic-green-light);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  padding: 0px;
  border-radius: 50%;
  background-color: var(--basic-gray-9);
  border: 8px solid var(--basic-white);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls .price-contols-label {
  line-height: 22px;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--basic-blue-dark);
}

.price-controls input {
  padding: 0px;
  width: 80px;
  height: 38px;
  background-color: var(--basic-gray-light);
  border: none;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  margin-left: 11px;
  text-align: center;
  cursor: pointer;
}

.filters-form ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  line-height: 20px;
  font-size: 16px;
  color: var(--basic-blue-dark);
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  line-height: 20px;
  font-size: 16px;
  color: var(--basic-blue-dark);
  padding-left: 36px;
}

.legend-net {
  margin-bottom: 16px;
}

.net-list li {
  margin-bottom: 20px;
}

.net-list li:last-child {
  margin-bottom: 0px;
}

.fieldset-net {
  margin: 0px;
  padding: 0px;
  margin-bottom: 47px;
}

.filter-radio label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0px;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  border: 4px solid var(--basic-black-light);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 5px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-black-light);
  border-radius: 50%;
  opacity: 0.4;
}

.legend-features {
  margin-bottom: 16px;
}

.features-list li {
  margin-bottom: 20px;
}

.features-list li:last-child {
  margin-bottom: 0px;
}

.fielset-features {
  margin: 0px;
  padding: 0px;
  margin-bottom: 50px;
}

.filter-checkbox label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/icon/checkbox-off.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/icon/checkbox-on.png");
}

.filter-input:hover + label::before,
.filter-input:focus + label::before,
.filter-input:hover + label::after,
.filter-input:focus + label::after {
  opacity: 1;
}

.filter-input:disabled + label::before,
.filter-input:disabled + label::after {
  opacity: 0.1;
}

.filter-input:disabled {
  opacity: 0.3;
}

.filter-input:disabled + label {
  color: var(--special-blue-dark);
}

.filter-button {
  background-color: var(--basic-gray-light);
  color: var(--basic-black);
  line-height: 18px;
  font-size: 16px;
  width: 260px;
  padding: 17px 10px 15px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--basic-gray-2);
}

.filter-button:active {
  background-color: var(--basic-gray-3);
  color: var(--special-black);
}

/*catalog main sorting*/
.sorting h2 {
  margin: 0px;
  color: var(--basic-black);
}

.sorting {
  margin: 0px;
  padding: 0px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.sorting-wrapper {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
}

.sorting-wrapper p {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
  text-transform: uppercase;
}

.sorting-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting-button {
  padding: 0px;
  line-height: 18px;
  font-size: 14px;
  color: var(--special-black);
  background-color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.down-dir-button,
.up-dir-button {
  margin: 0px;
  padding: 0px;
  width: 11px;
  height: 10px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.down-dir-button {
  margin-left: 40px;
}

.current-dir-button svg > g > path {
  fill: var(--basic-black-middle);
}

.current-dir-button svg > g {
  fill: var(--basic-black-middle);
  opacity: 1;
}

.up-dir-button:hover svg > g > path,
.down-dir-button:hover svg > g > path,
.up-dir-button:focus svg > g > path,
.down-dir-button:focus svg > g > path {
  fill: var(--basic-gray-6);
}

.up-dir-button:hover svg > g,
.down-dir-button:hover svg > g,
.up-dir-button:focus svg > g,
.down-dir-button:focus svg > g {
  opacity: 1;
}

.sorting-button:hover,
.sorting-button:focus {
  color: var(--special-black-dark);
}

.sorting-button:active {
  color: var(--basic-black);
}

.sorting-button-current {
  color: var(--basic-black);
}

/*catalog main templates*/
.temlates h2 {
  margin: 0px;
}

.templates {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 48px;
}

.templates-list {
  grid-row: 1/2;
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 24px;
}

.template {
  display: grid;
  position: relative;
  grid-template-rows: 40px auto;
  grid-template-columns: 360px;
  margin-bottom: 30px;
  border-radius: 5px;
  min-height: 620px;
}

.template-checked {
  margin: 0px;
  padding: 0px;
  grid-row: 1/2;
  grid-column: 1/2;
  opacity: 0.12;
  width: 360px;
}

.template-item {
  display: block;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  grid-row: 2/3;
  grid-column: 1/2;
  width: 360px;
  height: 578px;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 5px 5px;
  background-color: var(--basic-gray-light);
}

.template-modal-wrapper {
  position: absolute;
  top: 388px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  background-color: var(--basic-gray-light);
  text-align: center;
  z-index: -1;
  border-radius: 0px 0px 5px 5px;
}

.template-header {
  margin: 0px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 26px;
}

.template-descripion {
  margin: 0px;
  line-height: 18px;
  font-size: 16px;
  color: var(--basic-gray-4);
  padding: 12px 50px 0px 50px;
}

.template-button {
  margin: 0px;
  padding: 0px;
  width: 200px;
  padding: 17px 0px 15px;
  margin: 32px auto 44px;
}

.templates-list li {
  margin: 0px;
  padding: 0px;
}

.template:hover > .template-item,
.template:focus-within > .template-item {
  margin: 0px;
  width: 100%;
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
  border: none;
}

.template:hover > .template-checked,
.template:focus-within > .template-checked {
  opacity: 1;
}

.template:hover > .template-modal-wrapper,
.template-item:focus ~ .template-modal-wrapper {
  z-index: 1;
}

.template-modal-wrapper:focus-within {
  z-index: 1;
}

.pages-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  line-height: 18px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
}

.templates-page {
  margin-right: 11px;
  background-color: var(--basic-gray-light);
  border-radius: 3px;
  margin-bottom: 10px;
}

.templates-page a {
  display: block;
  padding: 17px 20px 15px 20px;
  color: var(--basic-black);
}

.page-next a {
  padding: 17px 77px 15px 78px;
  text-transform: uppercase;
}

.templates-page a:hover,
.templates-page a:focus {
  background-color: var(--basic-gray-2);
}

.templates-page a:active {
  background-color: var(--basic-gray-3);
  color: var(--special-black);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.current-templates-page a {
  background-color: var(--basic-white);
  border: 3px solid var(--basic-gray-5);
  padding: 14px 17px 12px 17px;
}

/*index/catalog footer*/
.footer-contacts-wrapper {
  position: relative;
  width: 1440px;
  margin: 0px auto 58px;
  padding: 54px 0px;
}

.footer-map {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
}

/*.footer-contacts-wrapper::after {
  content: "";
  position: absolute;
  width: 231px;
  height: 190px;
  background-image: url("../img/map/map-marker.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 70px;
  right: 362px;
}*/

.footer-contacts {
  position: relative;
  display: block;
  margin: 0px;
  padding: 46px 50px 49px 50px;
  box-sizing: border-box;
  width: 319px;
  background-color: var(--basic-white);
  left: 140px;
}

.footer-contacts-header {
  margin: 0px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.footer-contacts-address {
  margin: 0px;
  line-height: 18px;
  color: var(--basic-gray-4);
  margin-bottom: 18px;
}

.footer-contacts-phone {
  margin: 0px;
  margin-bottom: 38px;
  line-height: 18px;
  color: var(--basic-gray-4);
}

.footer-contacts-phone a {
  color: inherit;
}

.footer-social {
  padding-bottom: 68px;
}

.social-wrapper {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.social-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  grid-column: 1/2;
}

.social-description p:nth-of-type(1) {
  margin: 0px;
  line-height: 36px;
  font-size: 36px;
  font-weight: bold;
  padding-top: 17px;
  padding-bottom: 10px;
  color: var(--basic-black);
}

.social-description p:nth-of-type(2) {
  margin: 0px;
  line-height: 22px;
  font-size: 16px;
  color: var(--basic-gray-dark);
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-gray);
  color: inherit;
  width: 81px;
  height: 81px;
  margin-right: 9px;
  border-radius: 50%;
  margin-top: 10px;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}

.social-button:active {
  background-color: var(--basic-red-dark);
}

.social-button:active path {
  opacity: 0.3;
}

.modal-sending {
  position: fixed;
  left: 234px;
  bottom: 10px;
  line-height: 18px;
  font-size: 16px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  background-color: var(--basic-white);
  width: 960px;
  padding-top: 63px;
  padding-bottom: 84px;
  display: none;
  z-index: 2;
}

/*index modal-sending*/
.modal-visible {
  display: block;
}

/*.modal-invisible {
  display: none;
}*/

.modal-wrapper {
  margin: 0px auto;
  width: 760px;
  position: relative;
}

.modal-description {
  margin: 0px;
  line-height: 53px;
  font-size: 45px;
  font-weight: bold;
}

.sending-form {
  display: grid;
  grid-template-columns: 360px 360px;
  grid-template-rows: auto auto auto;
  column-gap: 40px;
}

.sending-name {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 64px 50px;
  margin: 0px;
}

.sending-text {
  grid-column: 1/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 61px 118px;
  margin: 0px;
}

.sending-email {
  margin: 0px;
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 64px 50px;
}

.sending-form button {
  margin-top: 47px;
  grid-column: 1/2;
  grid-row: -1/-2;
  width: 259px;
}

.sending-name label,
.sending-email label,
.sending-text label {
  align-self: flex-end;
  margin-bottom: 9px;
  font-weight: 700;
}

.sending-form input,
.sending-form textarea {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gray-dark);
  border: 2px solid var(--special-grey-light);
  padding: 16px;
  vertical-align: top;
}

.sending-form input:hover,
.sending-form textarea:hover {
  border: 2px solid var(--special-grey);
}

.sending-form input:focus,
.sending-form textarea:focus {
  border: 2px solid var(--basic-black);
  opacity: 1;
}

.sending-form input:invalid,
.sending-form textarea:invalid {
  border: 2px solid var(--basic-red);
  opacity: 1;
  color: var(--basic-red);
}

.modal-close {
  position: absolute;
  width: 21px;
  height: 21px;
  background-color: transparent;
  top: 15px;
  right: -10px;
  border: none;
}

.modal-close::before,
.modal-close::after {
  content: "";
  width: 30px;
  height: 5px;
  position: absolute;
  background-color: var(--basic-red-light);
  opacity: 0.3;
  top: 8px;
  right: -5px;
  border-radius: 1px;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:focus::before,
.modal-close:focus::after,
.modal-close:hover::before,
.modal-close:hover::after {
  opacity: 1;
}

.modal-close:active::before,
.modal-close:active::after {
  opacity: 0.1;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}
